@media(max-width:989px){
    .banner-button a {
    width: 100px;
    height: 100px;
}
.font-size-48px {
    font-size: 36px;
}
.navigation-bar{
    display: none;
}
.drawer-link{
    display:block;
}
.drawer-link-span svg{
width:20px;
}
.icon svg{
    width:20px;
}
.add-to-cart-inner {
    width:40%;
}
.header-inner {
    text-align: center;
    align-items:center;
    grid-template-columns: auto auto auto;
    gap: 32px;
    justify-content: space-around;
    padding: 18px 16px 15px 10px;
}
.header-logo{
    width:120px;
}
.header-wrrapper {
    width: 86.5%;
    padding: 30px 0px 0px 0px;
    align-items:center;
}
}
@media(max-width:750px){
    .banner-video video {
    width: 100%;
    object-fit: cover;
    aspect-ratio: .75/ 1;
} 
.font-size-48px {
    font-size: 24px;
}
.search-wrrapper {
    position: absolute;
    top: 38px;
    width: 95.5%;
    padding: 30px 31px 0px 0px;
    z-index: 1;
    margin: 0px auto 0px 12px;
}
input#search {
    width: 100%;
    border: none;
    padding: 13px 77px 13px 21px;
}
.search-bar-inner {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
 padding: 20px 20px 15px 20px;
    border: none;
    border-radius: 5px;
}
.banner-button a {
    width: 180px;
    height: 60px;
    min-width: 90px;
    font-size: 12px;
    border-radius: 50px; 
}
.banner-content {
    flex-direction:column-reverse;
    text-align: center;
    gap:20px;
}
.add-to-cart-inner {
    width: 83%;
}
a.primary-button {
    padding: 11px 29px;
    font-size: 12px;
}
.pera{
    font-size: 14px;
}
.heading-h3{
    font-size: 16px;
}
.heading-h2{
    font-size: 20px;
}
.cross-button {
    padding: 75px 30px;
}
.cart-short-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-to-cart-content {
    padding-top:50px;
}
.header-logo{
    width:70px;
}
}