* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --bb-colour: #f5fcf8;
}

body {
    background-color: var(--bb-colour);
}

.upper {
    text-transform: uppercase;
}

.none {
    display: none;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-48px {
    font-size: 48px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-18px {
    font-size: 18px;
}

a.primary-button {
    padding: 16px 40px;
    border-radius: 5px;
    background-color: rgb(67, 88, 112, 1);
    color: white;
}

.body-font-famliy {
    font-family: "Poppins", sans-serif;
}

.header-font-family {
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 100%;
    color: rgb(67, 88, 112, 1);
    opacity: 0.9;
}

.nav-font-family {
    font-family: "Barlow", sans-serif;
}

.font-size-20px {
    font-size: 20px;
}
.font-weight-600{
 font-weight:600;
}
.anouncment-bar-warraper {
    background-color: var(--bb-colour);
    position: relative;
    z-index: 5;
}

.msg {
    text-align: center;
    padding: 10px 0px;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 13px;
    color: rgb(83, 86, 90);
}

.banner-video-wrrapper {
    width: 100%;
    margin-top: -144px;
}

.banner-video-wrrapper .banner-video {
    position: relative;
}

.banner-video .video {
    max-height: 840px;
    height: 100%;
    overflow: hidden;
}


span.down-arrow {
    color: rgb(131 139 148);
    font-weight: 100;
}

.header-wrrapper {
    position: sticky;
    top: 0px;
    width: 95.5%;
    padding: 30px 31px 0px 30px;
    z-index: 1;
    margin: 0px auto;
}

.header-outer {
    position: relative;
}

.header-inner {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: #fff;
    padding: 20px 30px 15px 30px;
    border: none;
    border-radius: 5px;
}

ul.list {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.header__heading-logo {
    height: auto;
    max-width: 100%;
}

.header-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 2.5px;
}

.drawer-link {
    display: none;
}

.header-logo {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.icons::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 24px;
    background-color: #435870;
    opacity: 0.3;
    margin-left: 14px;
}

.banner-content {
    position: absolute;
    bottom: 4%;
    display: flex;
    max-width: 93%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    left: 5%;
}

.banner-heading {
    color: #fff;
    letter-spacing: 2.2px;
    font-weight: 600;
}

.banner-button a {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #596c7d;
    color: rgb(255, 255, 255);
    border-radius: 1000px;
    padding: 0;
}

i.fa-solid.fa-angle-down {
    font-size: 10px;
}

#shop:hover {
    text-decoration: underline;
    text-decoration-color: rgb(67, 88, 112);
}

#about:hover {
    text-decoration: underline;
    text-decoration-color: rgb(67, 88, 112);
}

/* dropdown css */

.hover-effect:hover i.fa-solid.fa-angle-down {
    transform: rotate(180deg);
}

.dropdown-min-width {
    position: absolute;
    right: 0px;
    margin: auto;
    width: 100%;
    z-index: -1;
    transform: translate(0%, -1%);
}

.dropdown-width {
    min-width: 150px;
    position: absolute;
    transform: translate(10%, 28%);
}

.dropdown-content {
    display: none;
    background-color: #fff;
    max-height: 350px;
    overflow-y: auto;
    z-index: -1;
}

.dropdown-texts {
    grid-template-columns: 15% 80%;
    padding-top: 40px;
    gap: 20px;
}

.dropdown-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 22px;
    text-align: center;
}

img.drop-img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
}

.dropdown-images h4 a {
    font-size: 15px;
    letter-spacing: 0.3px;
    font-weight: 200px;
}

.dropdown-content a {
    color: rgb(67, 88, 112);
    padding: 8px 25px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: grid;
}

/* cart */
.add-to-cart-inner {
    width: 34%;
    background-color: var(--bb-colour);
    position: fixed;
    top: 0%;
    right: 0%;
    height: 100%;
    z-index: 2;
}

.add-to-cart-content {
    display: flex;
    color: rgb(83, 86, 90);
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1px;
    padding: 30px;
    padding-top: 90px;
    justify-content: center;
}

.cart-short-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cross-button {
    padding: 45px 30px;
    display: flex;
    justify-content: flex-end;
     color: #596c7d;
}

.log-in {
    color: rgb(83, 86, 90);
    text-decoration: underline;
    text-decoration-color: rgb(83, 86, 90);
}

.text-opacity {
    opacity: 0.94;
}

.search-wrrapper {
    position: fixed;
    top: 38px;
    width: 95.5%;
    padding: 30px 31px 0px 30px;
    z-index: 1;
    margin: 0px auto 0px auto;
}

.search-bar-inner {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px 30px 15px 30px;
    border: none;
    border-radius: 5px;
}

.cancel-search {
    display: flex;
    justify-content: flex-end;
}

.search-input {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    max-width: 58%;
    border-radius: 4px;
    color: #596c7d;
    border: 1px solid #596c7d;
}

input#search {
    width: 100%;
    border: none;
    padding: 13px 366px 13px 21px;
}
.cancel-search{
      color: #596c7d;
}
.search-content {
    background-color: #596c7d;
    opacity: 0.3;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.responsive-menu ul.list {
    display: flex;
    gap: 40px;
    flex-direction: column;
    background-color: white;
    left: 31px;
    height: 200px;
    overflow-y: auto;
    position: fixed;
    top: 124px;
    width: 86.5%;
    padding: 30px 0px 0px 0px;
    z-index: 1;
    margin: 0px auto 0px auto;
}